build-oLStudio-Desktop_Qt_5_6_3-Debug/
build-oLStudio-Desktop_Qt_5_15_2_MinGW_32bit-Debug/
build-oLStudio-Desktop_Qt_5_15_2_MinGW_32bit-Release/
build-oLStudio-Legion_of_Qt_5_15_2_32_bit-Debug/
build-oLStudio-Legion_of_Qt_5_15_2_32_bit-Release/
build-oLStudio-Qt_5_15_2-Debug/
build-oLStudio-Qt_5_15_2-Release/
